
@media screen and (min-width: 0px) {
    .col-md-2 {
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media screen and (min-width: 772px) {
    .col-md-2 {
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media screen and (min-width: 992px) {
    .col-md-2{
        -webkit-box-flex: 0;
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}
@media screen and (min-width: 1312px) {
    .col-md-2{
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media screen and (min-width: 1690px) {
    .col-md-2{
        -webkit-box-flex: 0;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
#cards{
    margin-left: 0;
    margin-right: 0;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    &:hover{
        cursor: pointer;
    }
}