<img src="assets/images/booster.png" alt="" (click)="OnClick()" width="300" height="300">
<div id="cards" class="row">
  <div class="col-12 col-md-2" *ngFor="let element of data; let i=index; let odd=odd;">
      <app-pokemon-card (addedCard)="addedCard($event,i)" (sellingCard)="soldCard($event,i)" [data]="element"> </app-pokemon-card>
  </div>
</div>