<div class="container">
    <div class="row flex-center">
      <div class="col-6">
        <img src="assets/images/salamander_dumb.gif" width="100%">
      </div>
      <div class="col-6">
        <form (ngSubmit)="login()">
          <h1>Bienvenue</h1>
          <div class="form-group">
            <label for="name">Login name</label>
            <input type="text" [(ngModel)]="model.name" class="form-control" name="name" id="name" placeholder="Name"> 
          </div>
          <button type="submit" class="btn btn-primary">Go</button>
        </form>
      </div>
    </div>
  </div>
  
