@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700');
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center;
  margin: 20px;
}

img {
  max-height: 150px;
  margin: auto;
  display: inline-block;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
}


.card {
  display: inline-block;
  width: 300px;
  padding: 1em;
  border-radius: 15px;  
  margin: 10px;
  background: #ddd;
  text-align: left;
  cursor: pointer;

  &__caption {
    background-color: rgba(#ffffff, 0.65);
    padding: 1em;
    position: relative;
    border-radius: 0 0 3px 3px;
  }
  &__image-container {
    background-color: rgba(#000000, 0.7);
    text-align: center;
    padding: 1em 1em 0;
    border-radius: 3px 3px 0 0;
  }
  
  &__type {
    position: absolute;
    top: 0;
    right: 1em;
    transform: translateY(-50%);
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    letter-spacing: 0.1em;
    padding: 0.25em;
    line-height: 1;
    border-radius: 2px;
    background: #bbbbbb;
  }
  &__close {
    position: absolute;
    top: -1px;
    right: -1px;
    color: #ffffff;
    padding: 0.25em;
    line-height: 1;
    border: unset;
    border-radius: 2px;
    border-top-right-radius: 15px;
    background: rgba(25,25,25,1);
    width: 40px;
    height: 40px;
    transition: 0.5s;
    outline: none;
    &:hover{
      background: rgba(199,24,0,1);
      transition: 0.5s;
    }
  }

  &__label {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    margin-bottom: 3px;
  }
  
  
  &__name {
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    text-align: center;
    font-size: 1.5em;    
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-top: 10px;
    text-transform: uppercase;
  }
  
  &__stats {
    margin: 1em 0;
    th {
      font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
      text-align: right;
      font-weight: 300;
    }
    width: 100%;
    
    th, td {
      width: 50%;
      padding: 0.25em 0.5em 0;
    }
    
  }
  
  &__abilities {
    display: flex;
    justify-content: space-between;
  }
  &__ability {
    margin-top: 1em;
    flex: 1 0;
  }
  
  box-shadow: 0px 5px 20px -10px #111111;
  &--normal {
    background: linear-gradient(110deg, #FDBB2D 0%, #3A1C71 100%);
    box-shadow: 0px 5px 20px -10px #3A1C71;
    .card__type {
      background-color: #C08A53;
    }
  }
  
  &--water {
  background: linear-gradient(120deg, #1CB5E0 0%, #000851 100%);    
    box-shadow: 0px 5px 20px -10px #000851;
    .card__type {
      background-color: #1CB5E0;
    }
  }
  &--electric {
    
    background: linear-gradient(90deg, rgba(255,222,0,1) 34%, rgba(232,255,153,1) 83%);
    .card__type {
      background-color: #000;
    }
  }
  &--fire {
    background: linear-gradient(0deg, rgba(199,24,0,1) 10%, rgba(252,194,69,1) 100%);
    .card__type {
      background-color: rgba(199,24,0,1);
    }
  }
  
  &--psychic {
    
    background: linear-gradient(140deg, rgba(255,167,249,1) 0%, rgba(255,44,195,1) 39%, rgba(255,227,167,1) 100%);
    .card__type {
      background: #ff2cc3;
    }
  }
  
  &--dark {
    background: linear-gradient(20deg, rgba(25,25,25,1) 0%, rgba(16,11,50,1) 33%, rgba(92,2,73,1) 100%);
    .card__type {
      background: #5c0249;
    }
  }
  &--grass {
    background: linear-gradient(140deg, rgba(196,218,61,1) 0%, rgba(110,127,14,1) 69%, rgba(39,80,9,1) 100%);

    .card__type {
      background: #6e7f0e;
    }
  }
  &--bug {
    background: linear-gradient(140deg, rgb(57, 104, 3) 0%, rgb(2, 49, 6) 69%, rgb(9, 20, 1) 100%);

    .card__type {
      background: rgb(2, 49, 6);
    }
  }
  &--ground {
    background: linear-gradient(140deg, rgb(167, 167, 0) 0%, rgb(180, 143, 64) 69%, rgb(100, 80, 36) 100%);

    .card__type {
      background: rgb(180, 143, 64);
    }
  }
  &--fighting {
    background: linear-gradient(140deg, rgb(240, 128, 48) 0%, rgb(192, 48, 40) 69%, rgb(114, 27, 23) 100%);

    .card__type {
      background: rgb(192, 48, 40);
    }
  }
  &--poison {
    background: linear-gradient(140deg, rgb(187, 61, 218) 0%, rgb(87, 12, 110) 69%, rgb(35, 3, 44) 100%);

    .card__type {
      background: rgb(87, 12, 110);
    }
  }
  
  &--ice {
    background: linear-gradient(230deg, rgba(202,234,246,1) 0%, rgba(160,234,241,1) 46%, rgba(111,184,235,1) 100%);
    .card__type {
      background: #6fb8eb;
    }
  }
  
  &--fairy {
    background: linear-gradient(45deg, rgba(255,230,240,1) 0%, rgba(255,197,224,1) 34%, rgba(255,166,185,1) 71%, rgba(255,138,149,1) 100%);
    
    .card__type {
      background: #ff8a95;
    }
  }

  &--flying {
    background: linear-gradient(45deg, rgba(240,210,255,1) 0%, rgba(210, 185, 250, 1) 34%, rgba(189, 172, 245, 1) 71%, rgba(168,144,240,1) 100%);
    
    .card__type {
      background: #a890f0;
    }
  }
  
  &--dragon {
    background: linear-gradient(45deg, rgba(201,156,255,1) 0%, rgba(169, 114, 255, 1) 34%, rgba(138, 83, 252, 1) 71%, rgba(112, 56, 248, 1) 100%);
    
    .card__type {
      background: #7038f8;
    }
  }

  
  position: relative;  
  transition: 0.4s;

  &:hover {
    z-index: 5;
    box-shadow: 0px 13px 30px -15px #000000;
    transform:translateY(-5px);
  }
  
}
:host-context(.deck) .card__close {
  display: none;
}
