<figure (click)="addCardToDeck()" [className]="'card card--'+data.type">
    <div class="card__image-container">
        <button (click)="sellCard()" type="button" [className]="'card__close'" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      <img [src]="data.image" [alt]="data.name" class="card__image">
    </div>
    <figcaption class="card__caption">
      <h1 class="card__name">{{ data.name }}</h1>
  
      <h3 class="card__type">
        {{ data.type }}
      </h3>
      <table class="card__stats">
        <tbody>
          <tr>
            <th>HP</th>
            <td>{{data.stats.hp}}</td>
          </tr>
          <tr>
            <th>Attack</th>
            <td>{{data.stats.attack}}</td>
          </tr>
  
          <tr>
            <th>Defense</th>
            <td>{{data.stats.defense}}</td>
          </tr>
          <tr>
            <th>Speed</th>
            <td>{{data.stats.speed}}</td>
          </tr>
        </tbody>
      </table>
    </figcaption>
  </figure>
  
