<h1>Mes pokemons</h1>

<div class="input-group mb-3">
  <div>
    <span class="input-group-text" >Min Attaque</span>
  </div>
  <input [(ngModel)]="searchText" class="form-control" min="0" name="minAttack" placeholder="" type="number">
</div>
<div id="cards" class="row deck">
  <div class="col-12 col-md-2" *ngFor="let element of data | deckFilter : searchText; let i=index; let odd=odd;">
      <app-pokemon-card [data]="element"></app-pokemon-card>
  </div>
</div>

