nav{
    color: white;
    transition: 0.5s;
    position: sticky;
    top: 0;
    z-index: 50;
    .active{
        color:yellow;
    }
    a{
        color: white;
        transition: 0.5s;
        &:hover{
            color: yellow;
            transition: 0.5s;
            cursor: pointer;
        }
    }
}