<nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" routerLink="/">
      <img class="d-inline-block align-top" src="assets/images/pokemon.png" width="150">
    </a>
    <a routerLink="deck" routerLinkActive="active">Deck</a>
    <a routerLink="store" routerLinkActive="active">Boutique</a>
    <div>solde : <span id="solde">{{ user.coins }}</span> PC</div>
    <button (click)="onDeleteUser()" class="btn btn-secondary">Delete and logout</button>
    <div>Bonjour {{ user.name }}</div>
  </nav>
  <router-outlet></router-outlet>